<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <!--This is needed to make crystal report work-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <connectionStrings>
    <add name="DB" connectionString="SERVER=localhost;port=3306;DATABASE=rex_luha;username=root;Password=123456;"/>
    <!--<add name="DB" connectionString="SERVER=148.72.232.173;port=3306;DATABASE=logicxtech_autox_tag;username=Autox_Tag;Password=Autox_Tag@1234;"/>-->
    <!--<add name="DB" connectionString="SERVER=148.72.232.173;port=3306;DATABASE=logicx_autox_unnoonny;username=autox_unnoonny;Password=unnoony****@logicx;"/>-->

  </connectionStrings>
  <appSettings>
    <add key="Mode" value="USER"/>
    <add key="Branch" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <!--CompanyCode = N-Nissan,F-Fiat-->
  <!--Settings-->
  <!--DMS_Service_Path : D:\*.Xml-->
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
